.loading {
	position: fixed;
	top: 0px;
	left : 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(255,255,255,0.6);
	z-index: 10000;

	.loading-wrapper {
		position: absolute;
		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);

		.loading-message {
			text-align: center;
			font-size: 16px;
			color: #000;
			font-style: italic;
		}
	}
}