node_modules
storage/.store
*/package-lock.json
kernel/.sources
kernel/.store
kernel/.queues
*.key
**/coverage
.nyc_output
kernel/.tmp
kernel/.sessions
kernel/.secrets
*.sqlite
kernel/logs
logs
kernel/recordings.db