<template id="template-apis">
	<div class="apis">
		<permissions :roles="['api_reader','api_admin','system_reader', 'system_admin']"></permissions>

		<navigation title="APIs"></navigation>

		<confirm
			title="Confirmation"
			message="Are you sure you want to delete this API?"
			v-bind:visible="deleteConfirmVisible"
			v-bind:on-confirm="confirmDeleteAction"
		></confirm>

		<!-- Begin Page Content -->
		<div class="container-fluid">
			<p class="mb-4">You can construct complex APIs that contain your business and application logic. To add a new API click the big plus button in the bottom right.</p>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Current APIs</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-if="apis.length === 0">
									<td colspan="2" class="no-results">
										There are no APIs defined.
									</td>
								</tr>
								<tr v-for="item in apis">
									<td>
										<router-link :to="{ name : 'apiDetails', params : { name : item.name } }">{{item.name}}</router-link>
									</td>
									<td>
										<router-link class="btn btn-sm btn-success" :to="{ name : 'apiDetails', params : { name : item.name } }">View Docs</router-link>
										<router-link class="btn btn-sm btn-primary" :to="{ name : 'apiEditor', params : { name : item.name } }">Modify</router-link>
										<button class="btn btn-sm btn-danger" v-on:click="_apisControllerInstance.deleteApi(item.name);">Remove</router-link>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="actionButtons">
			<router-link to="/apis/editor/.new" class="rounded-circle border-0 btn btn-primary"><i class="fas fa-fw fa-plus"></i></router-link>
		</div>
	</div>
</template>

<template id="template-api-details">
	<div class="api-details">
		<permissions :roles="['api_reader','api_admin','system_reader', 'system_admin']"></permissions>

		<navigation :title="api.name"></navigation>

		<div class="container-fluid">
			<p class="mb-4">
				This API supports the following endpoints.
			</p>

			<div class="api-endpoint" v-for="route in routes">
				<!-- GET -->
				<div class="card shadow mb-4" v-if="route.get.controller">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">GET {{window.hosts.api}}/{{api.name}}{{route.name}}</h6>
					</div>

					<div class="card-body">
						<p v-if="route.get.description">
							{{route.get.description}}
						</p>

						<p v-if="!route.get.description">
							There is no documentation for this endpoint.
						</p>

						<div class="block">
							<b>Header: <code class="inline">Authorization : Bearer [token]</code></b>
							<br />
							A bearer token issued by the Identity Provider.
							<span v-if="route.get.needsRole">
								Atleast one of these roles must be present to access this endpoint:
							</span>
							<ul class="mb-0" v-if="route.get.needsRole">
								<li><code class="inline">system_admin</code></li>
								<li v-if="!route.get.replace"><code class="inline">system_reader</code></li>
								<li v-if="!route.get.replace"><code class="inline">api_reader</code></li>
								<li v-if="!route.get.replace"><code class="inline">{{api.name}}_reader</code></li>
								<li v-for="role in route.get.roles">
									<code class="inline">{{role}}</code>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- POST -->
				<div class="card shadow mb-4" v-if="route.post.controller">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">POST {{window.hosts.api}}/{{api.name}}{{route.name}}</h6>
					</div>

					<div class="card-body">
						<p v-if="route.post.description">
							{{route.post.description}}
						</p>

						<p v-if="!route.post.description">
							There is no documentation for this endpoint.
						</p>

						<div class="block">
							<b>Header: <code class="inline">Authorization : Bearer [token]</code></b>
							<br />
							A bearer token issued by the Identity Provider.
							<span v-if="route.get.needsRole">
								Atleast one of these roles must be present to access this endpoint:
							</span>
							<ul class="mb-0" v-if="route.get.needsRole">
								<li><code class="inline">system_admin</code></li>
								<li v-if="!route.get.replace"><code class="inline">system_writer</code></li>
								<li v-if="!route.get.replace"><code class="inline">api_writer</code></li>
								<li v-if="!route.get.replace"><code class="inline">{{api.name}}_writer</code></li>
								<li v-for="role in route.post.roles">
									<code class="inline">{{role}}</code>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</template>

<template id="template-api-editor">
	<div class="api-editor">
		<permissions :roles="['api_writer','api_admin','system_writer', 'system_admin']"></permissions>

		<alert text="API saved!" v-bind:visible="showAlert"></alert>

		<confirm
			title="Confirmation"
			message="Are you sure you want to delete route?"
			v-bind:visible="deleteRouteConfirmVisible"
			v-bind:on-confirm="confirmRouteDeleteAction"
		></confirm>

		<confirm
			title="Confirmation"
			message="Are you sure you want to delete this controller?"
			v-bind:visible="deleteControllerConfirmVisible"
			v-bind:on-confirm="confirmControllerDeleteAction"
		></confirm>

		<div class="container-fluid" v-if="controllerEditorVisible">
			<div class="editorWrapper">
				<div id="controllerEditor" class="editorWindow"></div>
			</div>
		</div>

		<div v-if="securityPopupOpen">
			<div class="modal">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Configure Security</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close" v-on:click="_apiEditorControllerInstance.closeSecurityPopup();">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<input type="checkbox" id="needsRole" v-model="selectedRoute.needsRole" v-bind:value="true" />
								<label for="needsRole">Needs role</label>
							</div>
							<div class="form-group">
								<input type="checkbox" id="replaceRoles" v-model="selectedRoute.replace" v-bind:value="true" />
								<label for="replaceRoles">Replace default roles</label>
							</div>
							<div class="form-group">
								<label for="roles">Roles:</label>
								<input id="roles" type="text" v-model="selectedRoute.roles" class="form-control" />
								<em>Comma separated</em>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" type="button" data-dismiss="modal" v-on:click="_apiEditorControllerInstance.closeSecurityPopup();">Cancel</button>
							<button class="btn btn-primary" type="button" data-dismiss="modal" v-on:click="_apiEditorControllerInstance.setSecurity();">Apply</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<navigation title="Manage API"></navigation>

		<div class="container-fluid" v-if="mainVisible">
			<div class="row">
				<div class="col-md-6">
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Properties</h6>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label>Name:</label>
								<input type="text" class="form-control form-control-sm" name="name" v-model="api.name" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Security</h6>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label>Client:</label>
								<select name="client_id" v-model="api.client_id" class="form-control form-control-sm">
									<option value="">None</option>
									<option v-for="client in clients" v-bind:value="client.client_id">{{client.client_id}}</option>
								</select>
							</div>
							<div class="form-group" v-if="!api.client_id">
								<button class="btn btn-success" v-on:click="_apiEditorControllerInstance.autoProvisionClient()">Auto-provision</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Routes</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Route</th>
									<th>GET</th>
									<th>POST</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Route</th>
									<th>GET</th>
									<th>POST</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-if="routes.length === 0">
									<td colspan="4" class="no-results">
										The API has no routes defined.
									</td>
								</tr>
								<tr v-for="route in routes">
									<td>
										<input class="form-control form-control-sm" type="text" name="route" v-model="route.name" />
									</td>
									<td>
										<select class="form-control form-control-sm float-left w-75" v-model="route.get.controller">
											<option v-for="controller in controllers" option="controller.name">
												{{ controller.name }}
											</option>
										</select>
										<button class="btn btn-sm btn-info float-right w-25" v-on:click="_apiEditorControllerInstance.configureRouteSecurity(route.name, 'GET');">
											Security
										</button>
									</td>
									<td>
										<select class="form-control form-control-sm float-left w-75" v-model="route.post.controller">
											<option v-for="controller in controllers" option="controller.name">
												{{ controller.name }}
											</option>
										</select>
										<button class="btn btn-sm btn-info float-right w-25" v-on:click="_apiEditorControllerInstance.configureRouteSecurity(route.name, 'POST');">
											Security
										</button>
									</td>
									<td>
										<button class="btn btn-sm btn-danger" v-on:click="_apiEditorControllerInstance.removeRoute(route.name);">
											Remove
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Controllers</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<td>Name</td>
									<td>Operations</td>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<td>Name</td>
									<td>Operations</td>
								</tr>
							</tfoot>
							<tbody>
								<tr v-if="controllers.length === 0">
									<td colspan="2" class="no-results">
										The API has no controllers defined.
									</td>
								</tr>
								<tr v-for="controller in controllers">
									<td>
										<input class="form-control form-control-sm" type="text" name="controller" v-model="controller.name" />
									</td>
									<td>
										<button class="btn btn-sm btn-primary" v-on:click="_apiEditorControllerInstance.editController(controller.name);">
											Modify
										</button>
										<button class="btn btn-sm btn-danger" v-on:click="_apiEditorControllerInstance.removeController(controller.name);">
											Remove
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="actionButtons">
			<button v-if="controllerEditorVisible" class="rounded-circle border-0 btn btn-primary" v-on:click="_apiEditorControllerInstance.mainView();"><i class="fas fa-fw fa-arrow-left"></i></button>
			<button v-if="mainVisible" class="rounded-pill border-0 btn btn-primary" v-on:click="_apiEditorControllerInstance.newController();"><i class="fas fa-fw fa-plus"></i> Controller</button>
			<button v-if="mainVisible" class="rounded-pill border-0 btn btn-primary" v-on:click="_apiEditorControllerInstance.newRoute();"><i class="fas fa-fw fa-plus"></i> Route</button>
			<button class="rounded-circle border-0 btn btn-success" v-on:click="_apiEditorControllerInstance.saveAll();"><i class="fas fa-fw fa-save"></i></button>
		</div>
	</div>
</template>