<template id="template-alert">
	<div class="alert card alert-primary" v-if="visible">
		{{text}}
	</div>
</template>

<template id="template-loading">
	<div class="loading">
		<div class="loading-wrapper">
			<div class="loading-animation">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;display:block;" width="120px" height="120px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
					<circle cx="50" cy="50" r="30" stroke="#4e73df" stroke-width="10" fill="none"></circle>
					<circle cx="50" cy="50" r="30" stroke="#ffffff" stroke-width="8" stroke-linecap="round" fill="none">
					  <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="2.0408163265306123s" values="0 50 50;180 50 50;720 50 50" keyTimes="0;0.5;1"></animateTransform>
					  <animate attributeName="stroke-dasharray" repeatCount="indefinite" dur="2.0408163265306123s" values="18.84955592153876 169.64600329384882;94.2477796076938 94.24777960769377;18.84955592153876 169.64600329384882" keyTimes="0;0.5;1"></animate>
					</circle>
				</svg>
			</div>
			<div class="loading-message">
				{{message}}
			</div>
		</div>
	</div>
</template>

<template id="template-confirm">
	<div class="modal" v-if="visible">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close" v-on:click="_onCancel">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						{{message}}
					</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal" v-on:click="_onCancel">Cancel</button>
					<button class="btn btn-danger" type="button" data-dismiss="modal" v-on:click="_onConfirm">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template id="template-permissions">
	<div v-if="missingRoles" class="overlay">
		<div class="alert alert-danger alert-permissions">
			<h2>Incorrect permissions</h2>

			<p>
				You do not have the required level of authorization to access this section. You must have one of the following roles
				issued to your user to access this area:
			</p>

			<ul>
				<li v-for="role in roles">
					{{role}}
				</li>
			</ul>
		</div>
	</div>
</template>

<template id="template-swagger-def">
	<div class="swagger-def">
		<div id="swagger-ui"></div>
	</div>
</template>

<template id="template-modal-error">
	<div v-if="visible">
		<div class="modal">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close" v-on:click="visible=false">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<slot></slot>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" type="button" data-dismiss="modal" v-on:click="_onClose">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template id="template-monitor">
	<div class="monitor">
		<permissions :roles="['system_reader', 'system_admin']"></permissions>

		<navigation title="Monitor" :navitems="navItems"></navigation>

		<div class="monitorWrapper">
			<div class="row">
				<div class="col-md-3 pr-0">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Systems</h6>
						</div>
						<div class="card-body">
							<ul class="monitorSystems">
                                <li v-for="log in systems">
                                    <a
                                        v-bind:class="{ 'systemSelected' : system === log.name }"
                                        v-on:click="_monitorControllerInstance.monitorSystem(log.name);"
                                    >{{log.title}}</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-9 pl-0">
					<div class="monitor" id="monitorContent"></div>
				</div>
			</div>
		</div>

        <div class="actionButtons" v-if="system">
            <a v-on:click="window._monitorControllerInstance.download()" class="rounded-circle border-0 btn btn-primary"><i class="fas fa-fw fa-save"></i></a>
        </div>
	</div>
</template>

<template id="template-home">
	<div class="home">
		<permissions :roles="['system_reader', 'system_admin']"></permissions>

		<navigation title="Welcome!" :navitems="navItems"></navigation>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Getting started</h6>
						</div>
						<div class="card-body">
							<p>
								If you are just getting started <router-link to="/documentation/tutorial">check out the tutorials</router-link>.
							</p>
							<p>
								Alternatively, jump directly into the <router-link to="/documentation">documentation</router-link>.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Resources</h6>
						</div>
						<div class="card-body">
							<div class="status">
								<h5 class="font-weight-bold">Integrations</h5>
								<p>
									Total: <router-link to="/integrations">{{ integrations.length }}</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">APIs</h5>
								<p>
									Total: <router-link to="/apis">{{ apis.length }}</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">Databases</h5>
								<p>
									Total: <router-link to="/data">{{ datatypes.length }}</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">Websites</h5>
								<p>
									Total: <router-link to="/websites">{{ websites.length }}</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">Rulesets</h5>
								<p>
									Total: <router-link to="/rulesets">{{ rules.length }}</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">OIDC Clients</h5>
								<p>
									Total: <router-link to="/security">{{ clients.length }}</router-link>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Uptime</h6>
						</div>
						<div class="card-body">
                            <div class="service-status">
                                <div v-for="service in status" class="service-status-item">
                                    <b>{{service.name}}</b>
                                    <span>{{_homeControllerInstance.toHumanTime(service.uptime)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mt-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">CPU Usage</h6>
                        </div>
                        <div class="card-body">
                            <canvas id="cpu-chart" width="100%" height="250"></canvas>
						</div>
					</div>

                    <div class="card shadow mt-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Memory Usage</h6>
                        </div>
                        <div class="card-body">
                            <canvas id="ram-chart" width="100%" height="250"></canvas>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</template>