.ui-password-helper {
  &-list {
    margin: 15px 0px 22px 10px;
    padding: 0px;
  }

  &-item {
    list-style: none;
    margin: 10px 0px;
    padding: 0px;

    &-icon-wrapper {
      position: relative;
      top: 7px;
      padding-right: 5px;
    }

    &-icon {
      width : 24px;
      height: 24px;
    }

    &-icon-good {
      fill: $success-background-color;
      display: none;
    }

    &-icon-bad {
      fill: $negative-background-color;
      display: none;
    }

    &-description {
      font-weight: normal;
    }

    &--good {
      .ui-password-helper-item-icon-good {
        display: inline-block;
      }
    }

    &--bad {
      .ui-password-helper-item-icon-bad {
        display: inline-block;
      }

      .ui-password-helper-item-description {
        font-weight: bold;
      }
    }
  }
}