<p>
    You have been sent this email as you have requested that your password be reset for the account with username <strong><%= username %></strong>
</p>

<p>
    To reset your password you must enter this code into the form that is now visible on your screen:
</p>

<p>
    <strong><%= code %></strong>
</p>

<p>
    If this form is no longer visible then you will have to restart the password reset process.
</p>

<p>
    There is a time limit for how long this code is valid for - if that time limit expires then you must start the password reset process again.
</p>

<p>
    <em>If you did not request your password to be reset then please ignore this email.</em>
</p>