<p>
    You have been sent this email as you need to verify the account with username <strong><%= username %></strong>
</p>

<p>
    To validate your account you must enter this code into the form that is now visible on your screen:
</p>

<p>
    <strong><%= code %></strong>
</p>

<p>
    If this form is no longer visible then you will have to restart the account validation process.
</p>

<p>
    There is a time limit for how long this link is valid for - if that time limit expires then you must start the validation process again.
</p>