<div class="ui-columns ui-columns--half">
    <div class="ui-half ui-half--highlight">
        <div class="ui-logo">
            Elemental
        </div>
        <div class="ui-feature">
            <div class="ui-feature-image ui-feature-image--logout"></div>
        </div>
    </div>
    <div class="ui-half">
        <div class="ui-restricted--thin">
            <div class="ui-header">
                <h1 class="ui-header-text">Logged Out</h1>
            </div>

            <div class="ui-intro">
                <p class="ui-intro-text">
                    You have been logged out of your account. You can close this window now.
                </p>
            </div>
        </div>
    </div>
</div>