<div class="ui-columns ui-columns--half">
    <div class="ui-half ui-half--highlight">
        <div class="ui-logo">
            Elemental
        </div>
        <div class="ui-feature">
            <div class="ui-feature-image ui-feature-image--password"></div>
        </div>
    </div>
    <div class="ui-half">
        <div class="ui-restricted--thin">
            <div class="ui-header">
                <h1 class="ui-header-text">Reset Password</h1>
            </div>

            <div class="ui-intro">
                <p class="ui-intro-text">
                    You may now enter your new password.
                </p>
            </div>

            <% if (passwordError) { %>
                <div class="ui-alert ui-alert--error">
                    <%= passwordError %>
                </div>
            <% } %>

            <form autocomplete="off" action="/interaction/<%= uid %>/reset" method="post">
                <div class="ui-input-field">
                    <label class="ui-input-field-label" for="password">
                        Password
                    </label>

                    <% if (passwordHelpers && passwordHelpers.length > 0) { %>
                        <%- include('partials/passwordHelpers.ejs', {
                            helpers : passwordHelpers,
                            selector : '#password'
                        }) %>
                    <% } %>

                    <input
                        class="ui-input-field-input"
                        id="password"
                        type="password"
                        name="password"
                        placeholder="New password"
                        autofocus="on"
                    >
                </div>

                <div class="ui-input-field">
                    <label class="ui-input-field-label" for="repeat">
                        Repeat password
                    </label>

                    <input
                        class="ui-input-field-input"
                        id="repeat"
                        type="password"
                        name="repeat"
                        placeholder="and repeat"
                    >
                </div>

                <div class="ui-button-wrapper">
                    <button type="submit" class="ui-button ui-button--primary">Set Password</button>
                </div>
            </form>
        </div>
    </div>
</div>