<div class="ui-password-helper">
    <span class="ui-password-helper-text">
        You must ensure that your password:
    </span>

    <ul class="ui-password-helper-list">
        <% helpers.forEach((helper) => { %>
            <li class="ui-password-helper-item" data-regex="<%= helper.regex %>">
                <span class="ui-password-helper-item-icon-wrapper">
                    <span class="ui-password-helper-item-icon-good">
                        <svg class="ui-password-helper-item-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 489 489" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M417.4,71.6C371.2,25.4,309.8,0,244.5,0S117.8,25.4,71.6,71.6S0,179.2,0,244.5s25.4,126.7,71.6,172.9S179.2,489,244.5,489
                                        s126.7-25.4,172.9-71.6S489,309.8,489,244.5S463.6,117.8,417.4,71.6z M244.5,462C124.6,462,27,364.4,27,244.5S124.6,27,244.5,27
                                        S462,124.6,462,244.5S364.4,462,244.5,462z"/>
                                    <path d="M301.6,188.1l-84.1,84.2l-30.1-30.1c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1L208,301c2.6,2.6,6.1,4,9.5,4
                                        s6.9-1.3,9.5-4l93.7-93.7c5.3-5.3,5.3-13.8,0-19.1C315.5,182.8,306.9,182.8,301.6,188.1z"/>
                                </g>
                            </g>
                            <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                        </svg>
                    </span>
                    <span class="ui-password-helper-item-icon-bad">
                        <svg class="ui-password-helper-item-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 489 489" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M417.4,71.6C371.2,25.4,309.8,0,244.5,0S117.8,25.4,71.6,71.6S0,179.2,0,244.5s25.4,126.7,71.6,172.9S179.2,489,244.5,489
                                        s126.7-25.4,172.9-71.6S489,309.8,489,244.5S463.6,117.8,417.4,71.6z M244.5,462C124.6,462,27,364.4,27,244.5S124.6,27,244.5,27
                                        S462,124.6,462,244.5S364.4,462,244.5,462z"/>
                                    <path d="M304.9,184.1c-5.3-5.3-13.8-5.3-19.1,0l-41.3,41.3l-41.3-41.3c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l41.3,41.3
                                        l-41.3,41.3c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l41.3-41.3l41.3,41.3c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4
                                        c5.3-5.3,5.3-13.8,0-19.1l-41.1-41.3l41.3-41.3C310.2,197.9,310.2,189.4,304.9,184.1z"/>
                                </g>
                            </g>
                            <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                        </svg>
                    </span>
                </span>
                <span class="ui-password-helper-item-description">
                    <%= helper.description %>
                </span>
            </li>
        <% }); %>
    </ul>
</div>

<script>
    function checkPassword(element) {
        if (!element) {
            return;
        }

        const checks = document.querySelectorAll('.ui-password-helper-item');
        const value = document.querySelector(element).value;

        for (let i = 0; i < checks.length; i++) {
            const regex = checks[i].attributes.getNamedItem('data-regex');
            let isGood = false;

            if (regex && regex.value) {
                isGood = (new RegExp(regex.value)).test(value);
            }

            if (isGood) {
                checks[i].classList.remove('ui-password-helper-item--bad');
                checks[i].classList.add('ui-password-helper-item--good');
            } else {
                checks[i].classList.remove('ui-password-helper-item--good');
                checks[i].classList.add('ui-password-helper-item--bad');
            }
        }
    }

    setTimeout(() => {
        const selector = '<%= selector %>';
        checkPassword(selector);

        const elem = document.querySelector(selector);
        elem.addEventListener('keyup', () => {
            checkPassword(selector);
        });
    }, 1);
</script>