<form autocomplete="off" action="/interaction/<%= uid %>/register" method="post">	
  <input required type="text" name="login" placeholder="Username" autofocus="on">
  <input required type="password" name="password" placeholder="and password">

  <button type="submit" class="login login-submit">Register</button>
</form>