<template id="template-dataTypes">
	<div class="dataTypes">
		<permissions :roles="['datatype_reader','datatype_admin','system_reader','system_admin']"></permissions>

		<navigation title="Data"></navigation>

		<!-- Begin Page Content -->
		<div class="container-fluid">
			<p class="mb-4">The table below allows you to see all data types currently configured within the storage system. Add a new data type by using the + icon in the bottom right hand corner of the screen.</p>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Current Datatypes</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Entities</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>Entities</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-if="dataTypes.length === 0">
									<td colspan="3" class="no-results">
										There are no data types defined.
									</td>
								</tr>
								<tr v-for="item in dataTypes">
									<td>
										<router-link :to="{ name : 'dataTypeDetails', params : { type : item.name } }">{{item.name}}</router-link>
									</td>
									<td>
										<router-link :to="{ name : 'dataTypeEntities', params : { type : item.name } }">{{item.count || '0'}} Items</router-link>
									</td>
									<td>
										<router-link class="btn btn-sm btn-primary" :to="{ name : 'dataTypeEditor', params : { type : item.name } }">Modify</router-link>
										<button class="btn btn-sm btn-danger" v-on:click="_dataControllerInstance.deleteType(item.name);">Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="actionButtons">
			<router-link to="/data/editor/.new" class="rounded-circle border-0 btn btn-primary"><i class="fas fa-fw fa-plus"></i></router-link>
		</div>
	</div>
</template>

<template id="template-dataTypeDetails">
	<div class="dataTypeDetails">
		<permissions :roles="['datatype_reader','datatype_admin','system_reader','system_admin']"></permissions>

		<navigation :title="dataType.name" :navitems="navitems"></navigation>

		<div class="entityWrapper">
			<div class="editorWindow editorWindow--withHeader">
				<swaggerDef v-if="dataType.name" :uri="uri"></swaggerDef>
			</div>
		</div>
	</div>
</template>

<template id="template-dataTypeEditor">
	<div class="dataTypeEditor">
		<permissions :roles="['datatype_writer','datatype_admin','system_writer','system_admin']"></permissions>

		<navigation :title="dataType.name" :navitems="navitems"></navigation>

		<div class="entityWrapper">
			<div id="typeEditor" class="editorWindow editorWindow--withHeader"></div>
		</div>
		<div class="actionButtons">
			<router-link to="/data" class="rounded-circle border-0 btn btn-default"><i class="fas fa-fw fa-times"></i></router-link>
			<button class="rounded-circle border-0 btn btn-primary" v-on:click="_dataTypeEditorInstance.saveType();"><i class="fas fa-fw fa-save"></i></button>
		</div>
		<modal-error v-bind:title="error.title" v-bind:visible="error.visible">
			{{error.description}}
		</modal-error>
		<alert text="Data type saved!" v-bind:visible="showAlert"></alert>
	</div>
</template>