<template id="template-integrations">
	<div class="integrations">
		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Integrations</h1>
			<p class="mb-4">Integrations allow you to wrap an existing API/Service with a RESTful API that follows Elementals standard security model.</p>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Current Datatypes</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-for="item in integrations">
									<td>
										<router-link :to="{ name : 'integrationDetails', params : { name : item.name } }">{{item.name}}</router-link>
									</td>
									<td>
										<router-link class="btn btn-sm btn-primary" :to="{ name : 'integrationEditor', params : { name : item.name } }">Modify</router-link>
										<router-link class="btn btn-sm btn-danger" :to="{ name : 'integrationRemove', params : { name : item.name } }">Remove</router-link>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="actionButtons">
			<router-link to="/integrations/editor/.new" class="rounded-circle border-0 btn btn-primary"><i class="fas fa-fw fa-plus"></i></router-link>
		</div>
	</div>
</template>

<template id="template-integrationDetails">
	<div class="integrationDetails">
		<div class="container-fluid">
			<h1 class="h3 mb-2 text-gray-800">{{integration.name}}</h1>
			<p class="mb-4">
				This integration can be communicated with using the following details.
			</p>

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						{{integration.method.toUpperCase()}} http://localhost:8004/{{integration.name}}
					</h6>
				</div>
				<div class="card-body">
					<p v-if="integration.variables.length === 0">
						This integration can be called with no parameters.
					</p>
					<p v-for="variable in integration.variables">
						<b>Parameter:</b> <code>{{variable.name}}</code>
						<br/>
						<b>Type:</b> <code>{{variable.type}}</code>
						<br/>
						<b>Description:</b> <code>{{variable.description}}</code>
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<template id="template-integrationsEditor">
	<div class="integrationsEditor">
		<div class="entityWrapper">
			<div id="integrationEditor" class="editorWindow"></div>
		</div>
		<div class="actionButtons">
			<router-link to="/integrations" class="rounded-circle border-0 btn btn-default"><i class="fas fa-fw fa-times"></i></router-link>
			<button class="rounded-circle border-0 btn btn-primary" v-on:click="_integrationsEditorInstance.saveIntegration();"><i class="fas fa-fw fa-save"></i></button>
		</div>
		<modal-error v-bind:title="error.title" v-bind:visible="error.visible">
			{{error.description}}
		</modal-error>
		<alert text="Integration type saved!" v-bind:visible="showAlert"></alert>
	</div>
</template>