<template id="template-alert">
	<div class="alert card alert-primary" v-if="visible">
		{{text}}
	</div>
</template>

<template id="template-modal-error">
	<div v-if="visible">
		<div class="modal">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close" v-on:click="visible=false">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<slot></slot>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" type="button" data-dismiss="modal" v-on:click="visible=false">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template id="template-home">
	<div class="home">
		<navigation title="Welcome to Elemental"></navigation>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Getting started</h6>
						</div>
						<div class="card-body">
							<p>
								If you are just getting started with Elemental <router-link to="/documentation/tutorial.md">check out the tutorial</router-link> which shows you how to build a basic Blogging application.
							</p>
							<p>
								Alternatively, jump directly into the <router-link to="/documentation/index.md">documentation</router-link>.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">System Status</h6>
						</div>
						<div class="card-body">
							<div class="status">
								<h5 class="font-weight-bold">Integrations</h5>
								<p>
									Total: <router-link to="/integrations">{{ integrations.length }}</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">APIs</h5>
								<p>
									Total: <router-link to="/apis">{{ apis.length }}</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">Databases</h5>
								<p>
									Total: <router-link to="/data">{{ datatypes.length }}</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">Websites</h5>
								<p>
									Total: <router-link to="/websites">{{ websites.length }}</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">Rulesets</h5>
								<p>
									Total: <router-link to="/rulesets">{{ rules.length }}</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">OIDC Clients</h5>
								<p>
									Total: <router-link to="/security">{{ clients.length }}</router-link>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Information</h6>
						</div>
						<div class="card-body">
							<p>
								Version: 0.0.1
							</p>
							<p>
								Uptime: 0 hours 0 minutes 0 seconds
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>