<template id="template-websites">
	<div class="websites">
		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Websites</h1>
			<p class="mb-4">Websites allow you to provide interactive interfaces to your users. To create a new website press the plus button in the bottom right.</p>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Current Websites</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-for="item in websites">
									<td>
										<router-link :to="{ name : 'websiteDetails', params : { name : item.name } }">{{item.name}}</router-link>
									</td>
									<td>
										<a class="btn btn-sm btn-success" :href="item.url" target="_blank">
											View
										</a>
										<router-link class="btn btn-sm btn-primary" :to="{ name : 'websiteEditor', params : { name : item.name } }">Modify</router-link>
										<router-link class="btn btn-sm btn-danger" :to="{ name : 'websiteRemove', params : { name : item.name } }">Remove</router-link>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="actionButtons">
			<router-link to="/websites/editor/.new" class="rounded-circle border-0 btn btn-primary"><i class="fas fa-fw fa-plus"></i></router-link>
		</div>
	</div>
</template>

<template id="template-websiteEditor">
	<div class="websiteEditor">
		<alert text="Website saved!" v-bind:visible="showAlert"></alert>
		<div class="container-fluid" v-if="viewEditorVisible">
			<div class="editorWrapper">
				<div id="viewEditor" class="editorWindow"></div>
			</div>
		</div>

		<div class="container-fluid" v-if="controllerEditorVisible">
			<div class="editorWrapper">
				<div id="controllerEditor" class="editorWindow"></div>
			</div>
		</div>

		<!-- Begin Page Content -->
		<div class="container-fluid" v-if="mainVisible">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Update Website</h1>

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Properties</h6>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label>Name:</label>
						<input type="text" class="form-control" name="name" v-model="website.name" />
					</div>

				</div>
			</div>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Routes</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Route</th>
									<th>View</th>
									<th>Controller</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Route</th>
									<th>View</th>
									<th>Controller</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-for="(route, index) in routes" :key="index">
									<td>
										<input class="form-control" type="text" name="route" v-model="route.route" />
									</td>
									<td>
										<button class="btn btn-sm btn-primary" v-on:click="_websitesEditorControllerInstance.editView(route.view);">
											Modify
										</button>
									</td>
									<td>
										<button class="btn btn-sm btn-primary" v-on:click="_websitesEditorControllerInstance.editController(route.controller);">
											Modify
										</button>
									</td>
									<td>
										<button class="btn btn-sm btn-danger" v-on:click="_websitesEditorControllerInstance.removeRoute(index);">Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- Tags Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Custom Tags</h6>
				</div>
				<div class="card-body">
					<p>
						Tags allow you to define reusable includes/partials.
					</p>
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Tag</th>
									<th>View</th>
									<th>Controller</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Tag</th>
									<th>View</th>
									<th>Controller</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-for="(tag, index) in tags" :key="index">
									<td>
										<input class="form-control" type="text" name="route" v-model="tag.name" />
									</td>
									<td>
										<button class="btn btn-sm btn-primary" v-on:click="_websitesEditorControllerInstance.editView(tag.view);">
											Modify
										</button>
									</td>
									<td>
										<button class="btn btn-sm btn-primary" v-on:click="_websitesEditorControllerInstance.editController(tag.controller);">
											Modify
										</button>
									</td>
									<td>
										<button class="btn btn-sm btn-danger" v-on:click="_websitesEditorControllerInstance.removeTag(index);">Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="actionButtons">
			<button v-if="viewEditorVisible" class="rounded-circle border-0 btn btn-primary" v-on:click="_websitesEditorControllerInstance.mainView();"><i class="fas fa-fw fa-arrow-left"></i></button>
			<button v-if="controllerEditorVisible" class="rounded-circle border-0 btn btn-primary" v-on:click="_websitesEditorControllerInstance.mainView();"><i class="fas fa-fw fa-arrow-left"></i></button>
			<button v-if="mainVisible" class="rounded-pill border-0 btn btn-primary" v-on:click="_websitesEditorControllerInstance.newRoute();"><i class="fas fa-fw fa-plus"></i> Route</button>
			<button v-if="mainVisible" class="rounded-pill border-0 btn btn-primary" v-on:click="_websitesEditorControllerInstance.newTag();"><i class="fas fa-fw fa-plus"></i> Tag</button>
			<button class="rounded-circle border-0 btn btn-success" v-on:click="_websitesEditorControllerInstance.saveAll();"><i class="fas fa-fw fa-save"></i></button>
		</div>
	</div>
</template>

<template id="template-dataTypes">
	<div class="dataTypes">
		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Data</h1>
			<p class="mb-4">The table below allows you to see all data types currently configured within the storage system. Add a new data type by using the + icon in the bottom right hand corner of the screen.</p>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Current Datatypes</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Entities</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>Entities</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-for="item in dataTypes">
									<td>
										<router-link :to="{ name : 'dataTypeDetails', params : { type : item.name } }">{{item.name}}</router-link>
									</td>
									<td>
										<router-link :to="{ name : 'dataTypeEntities', params : { type : item.name } }">{{item.count || '0'}} Items</router-link>
									</td>
									<td>
										<router-link class="btn btn-sm btn-primary" :to="{ name : 'dataTypeEditor', params : { type : item.name } }">Modify</router-link>
										<router-link class="btn btn-sm btn-danger" :to="{ name : 'dataTypeRemove', params : { type : item.name } }">Remove</router-link>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="actionButtons">
			<router-link to="/data/editor/.new" class="rounded-circle border-0 btn btn-primary"><i class="fas fa-fw fa-plus"></i></router-link>
		</div>
	</div>
</template>

<template id="template-dataTypeDetails">
	<div class="dataTypeDetails">
		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">{{dataType.name}}</h1>
			<p class="mb-4">The following HTTP endpoints can be used to communicate with the storage engine hosting this data type.</p>

			<!-- get request -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">GET http://localhost:8006/{{dataType.name}}</h6>
				</div>
				<div class="card-body">
					<p>
						This endpoint allows you to fetch a paginated list of all objects held within this data type collection.
					</p>

					<p>
						<b>Query parameter: <code>start : Integer</code></b>
						<br/>
						This parameter can be used to specify the starting object index that records should be pulled for. This index starts at <b>1</b>. The default for this value is 1.
					</p>

					<p>
						<b>Query parameter: <code>count: Integer</code></b>
						<br/>
						This parameter can be used to specify the number of objects to be returned. The default for this value is 5.
					</p>

					<p>
						<b>Example request:</b>
					</p>

					<p>
						<code>
 							curl -X GET http://localhost:8006/{{dataType.name}}
						</code>
					</p>

					<p>
						<b>Example response:</b>
					</p>

					<p>
						<pre>{{exampleGetResponse}}</pre>
					</p>
				</div>
			</div>

			<!-- get singular request -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">GET http://localhost:8006/{{dataType.name}}/{{exampleId}}</h6>
				</div>
				<div class="card-body">
					<p>
						This endpoint allows you to fetch a paginated list of all objects held within this data type collection.
					</p>

					<p>
						<b>Path parameter: <code>id : Guid</code></b>
						<br/>
						This parameter must be set within the request path to fetch the resource requested.
					</p>

					<p>
						<b>Example request:</b>
					</p>

					<p>
						<code>
 							curl -X GET http://localhost:8006/{{dataType.name}}//{{exampleId}}
						</code>
					</p>

					<p>
						<b>Example response:</b>
					</p>

					<p>
						<pre>{{exampleSingleResponse}}</pre>
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<template id="template-dataTypeEditor">
	<div class="dataTypeEditor">
		<div class="entityWrapper">
			<div id="typeEditor" class="editorWindow"></div>
		</div>
		<div class="actionButtons">
			<router-link to="/data" class="rounded-circle border-0 btn btn-default"><i class="fas fa-fw fa-times"></i></router-link>
			<button class="rounded-circle border-0 btn btn-primary" v-on:click="_dataTypeEditorInstance.saveType();"><i class="fas fa-fw fa-save"></i></button>
		</div>
		<modal-error v-bind:title="error.title" v-bind:visible="error.visible">
			{{error.description}}
		</modal-error>
		<alert text="Data type saved!" v-bind:visible="showAlert"></alert>
	</div>
</template>

<template id="template-alert">
	<div class="alert card" v-if="visible">
		{{text}}
	</div>
</template>

<template id="template-modal-error">
	<div v-if="visible">
		<div class="modal">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close" v-on:click="visible=false">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<slot></slot>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" type="button" data-dismiss="modal" v-on:click="visible=false">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template id="template-home">
	<div class="home">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1>Welcome to Elemental</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Getting started</h6>
						</div>
						<div class="card-body">
							<p>
								If you are just getting started with Elemental <router-link to="/documentation/tutorial.md">check out the tutorial</router-link> which shows you how to build a basic Blogging application.
							</p>
							<p>
								Alternatively, jump directly into the <router-link to="/documentation/index.md">documentation</router-link>.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">System Status</h6>
						</div>
						<div class="card-body">
							<div class="status">
								<h5 class="font-weight-bold">Integrations</h5>
								<p>
									Total: <router-link to="/integrations">0</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">APIs</h5>
								<p>
									Total: <router-link to="/apis">0</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">Databases</h5>
								<p>
									Total: <router-link to="/data">0</router-link>
								</p>
							</div>
							<div class="status">
								<h5 class="font-weight-bold">Websites</h5>
								<p>
									Total: <router-link to="/websites">0</router-link>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Information</h6>
						</div>
						<div class="card-body">
							<p>
								Version: 0.0.1
							</p>
							<p>
								Uptime: 0 hours 0 minutes 0 seconds
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>