<template id="template-navigation">
	<!-- Topbar -->
	<div class="top-bar">
		<nav class="navbar navbar-expand bg-white topbar mb-4 static-top shadow">
			<h1 v-if="title !== null && title !== ''">{{title}}</h1>
			<ul class="navbar-nav ml-auto">
				<li v-bind:class="{ 'nav-item' : true, 'active' : item.selected }" v-for="item in navitems">
					<a v-bind:class="{ 'nav-link' : true, 'active' : item.selected }" v-on:click="item.event" v-if="typeof(item.event) === 'function'">
						{{item.name}}
					</a>
					<a v-bind:class="{ 'nav-link' : true, 'active' : item.selected }" :href="item.link" :target="typeof(item.target) === 'undefined' ? '_blank' : item.target" v-if="typeof(item.link) !== 'undefined'">
						{{item.name}}
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<!-- End of Topbar -->
</template>