<template id="template-nodeModules">
	<div class="nodeModules">
		<permissions :roles="['service_reader','service_admin','system_reader','system_admin']"></permissions>

		<navigation title="Node Modules"></navigation>

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<p class="mb-4">Node modules can be installed and referenced from within your services.</p>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Current Modules</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Version</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>Version</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-if="nodeModules.length === 0">
									<td colspan="3" class="no-results">
										There are no node modules installed.
									</td>
								</tr>
								<tr v-for="item in nodeModules">
									<td>
										<a v-bind:href="'https://www.npmjs.com/package/' + item.name" target="_blank">{{item.name}}</a>
									</td>
									<td>
										{{item.version}}
									</td>
									<td>
										<a class="btn btn-sm btn-primary" v-on:click="_nodeModulesControllerInstance.modifyNodeModule(item.name);">Modify</a>
										<button class="btn btn-sm btn-danger" v-on:click="_nodeModulesControllerInstance.removeNodeModule(item.name);">Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div v-if="formOpen">
			<div class="modal">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Module Details</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close" v-on:click="_nodeModulesControllerInstance.closeForm()">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>Name:</label>
								<input type="text" v-model="moduleName" class="form-control" v-if="!modifying" />
								<input type="text" v-bind:value="moduleName" class="form-control" v-if="modifying" readonly="readonly" />
							</div>
							<div class="form-group">
								<label>Version:</label>
								<input type="text" v-model="moduleVersion" class="form-control" />
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" type="button" data-dismiss="modal" v-on:click="_nodeModulesControllerInstance.closeForm()">Cancel</button>
							<button class="btn btn-primary" type="button" data-dismiss="modal" v-on:click="_nodeModulesControllerInstance.handleSubmit();">Complete</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div v-if="displayResult">
			<div class="modal">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Install Result</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close" v-on:click="_nodeModulesControllerInstance.hideResult()">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div>
								<p><b>STDOUT</b></p>
								<div class="scrollable">
									<pre>{{resultStdout}}</pre>
								</div>
							</div>
							<div>
								<p><b>STDERR</b></p>
								<div class="scrollable">
									<pre>{{resultStderr}}</pre>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" type="button" data-dismiss="modal" v-on:click="_nodeModulesControllerInstance.hideResult()">OK</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="actionButtons">
			<a class="rounded-circle border-0 btn btn-primary" v-on:click="_nodeModulesControllerInstance.addNodeModule();"><i class="fas fa-fw fa-plus"></i></a>
			<a class="rounded-circle border-0 btn btn-success" v-on:click="_nodeModulesControllerInstance.runInstall();"><i class="fas fa-fw fa-save"></i></a>
		</div>
	</div>
</template>
