<template id="template-packager">
	<div class="packager">
		<permissions :roles="['system_reader','system_admin']"></permissions>

		<navigation title="Packager"></navigation>

		<div class="container-fluid">
			<p class="mb-4">The packager allows you to package up your config and to import existing packages.</p>

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Export</h6>
				</div>
				<div class="card-body">
					<p>
						Export your current workspace as a tarball by pressing the export button below.
					</p>

					<p>
						<button type="button" class="btn btn-primary" v-on:click="_packagerControllerInstance.export()">Export</button>
					</p>
				</div>
			</div>

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Import</h6>
				</div>
				<div class="card-body">
					<p>
						Import a tarball into your workspace by selecting the file then pressing the import button.
					</p>

					<input type='file' name='importFile'>

					<p>
						<button type="button" class="btn btn-primary" v-on:click="_packagerControllerInstance.import()">Import</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</template>