<template id="template-security">
	<div class="security">
		<permissions :roles="['security_reader','security_admin','system_reader','system_admin']"></permissions>

		<navigation title="Security" :navitems="navitems"></navigation>

		<alert text="Security settings saved!" v-bind:visible="showAlert"></alert>

		<div class="container-fluid" v-if="secretsVisible">
			<div class="row">
				<div class="col-md-12">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Secrets</h6>
						</div>
						<div class="card-body" v-if="addingSecret">
							<p>
								Provide a name name for your secret, plus a scope. The scope controls which applications this secret will be available to.
							</p>

							<div class="form-group">
								<label>Name:</label>
								<input type="text" class="form-control" name="name" v-model="currentSecret.name" />
							</div>

							<div class="form-group">
								<label>Scope:</label>
								<select class="form-control" name="name" v-model="currentSecret.scope">
									<option value="global">Global</option>
									<option value="system:identity">System - Identity</option>
									<option value="system:integration">System - Integrations</option>
									<option value="system:api">System - APIs</option>
									<option value="system:queues">System - Messaging</option>
									<option value="system:data">System - Data</option>
									<option value="system:website">System - Websites</option>
									<option value="system:rules">System - Rulesets</option>
								</select>
							</div>

							<div class="float-left">
								<button class="btn btn-default" v-on:click="window._securityControllerInstance.showSecrets()">
									Cancel
								</button>
							</div>

							<div class="float-right">
								<button class="btn btn-success" v-on:click="window._securityControllerInstance.saveSecret()">
									Save
								</button>
							</div>
						</div>
						<div class="card-body" v-if="!addingSecret">
							<div class="float-right">
								<button class="btn btn-sm btn-primary" v-on:click="window._securityControllerInstance.addSecret()">
									Add Secret
								</button>
							</div>

							<p>
								Secrets - such as connection strings or API keys - can be defined within elemental here.
							</p>

							<p>
								These secrets will not be checked into version control, and can be resolved within any piece of configuration through using the
								<code class="inline">$.env</code> collection. Secrets can be scoped for global or system usage. When your application
								is deployed into a new environment you will need to configure the values for these secrets before your application becomes
								available.
							</p>

							<div class="table-responsive">
								<table class="table table-bordered" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Name</th>
											<th>Scope</th>
											<th>Value</th>
											<th>Options</th>
										</tr>
									</thead>
									<tbody>
										<tr v-if="secrets.length === 0">
											<td colspan="4">
												<div class="noResults">
													No secrets have been defined.
												</div>
											</td>
										</tr>
										<tr v-for="secret in secrets">
											<td>
												{{secret.name}}
											</td>
											<td>
												{{secret.scope}}
											</td>
											<td width="60%">
												<span class="form-control form-control-sm form-control--disabled" v-if="!settingSecretValue || currentSecret.name !== secret.name">*********************</span>
												<input v-if="settingSecretValue && currentSecret.name === secret.name" v-model="currentSecret.value" class="form-control form-control-sm" />
											</td>
											<td width="15%">
												<span v-if="!settingSecretValue || currentSecret.name !== secret.name">
													<button class="btn btn-primary btn-sm" v-on:click="window._securityControllerInstance.setSecret(secret.name)">
														Set
													</button>
													<button class="btn btn-danger btn-sm" v-on:click="window._securityControllerInstance.removeSecret(secret.name)">
														Remove
													</button>
												</span>
												<span v-if="settingSecretValue && currentSecret.name === secret.name">
													<button class="btn btn-primary btn-sm" v-on:click="window._securityControllerInstance.saveSecretValue()">
														Save
													</button>
													<button class="btn btn-default btn-sm" v-on:click="window._securityControllerInstance.cancelSetSecret()">
														Cancel
													</button>
												</span>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<th>Name</th>
											<th>Scope</th>
											<th>Value</th>
											<th>Options</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" v-if="storageVisible">
			<div class="row">
				<div class="col-md-6">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Storage Settings</h6>
						</div>
						<div class="card-body">
							<p>
								By default the Identity Provider will store its data within a local sqlite database. You can change this to connect it to a database instead. Select a supported technology from the drop down and then provide your connection string.
							</p>

							<p>
								<strong>Warning:</strong> The Identity Provider will fail to issue tokens for users that do not exist within the new data store - this potentially could lock you out of your system. Ensure that you have enough access and knowledge to manually configure a user
								within the store to have the <code class="inline">system_admin</code> role.
							</p>

							<div class="form-group">
								<label>Database type:</label>
								<select class="form-control" v-model="config.storageEngine">
									<option value="memory">In-memory</option>
									<option value="filesystem">Filesystem</option>
									<option value="sql">*sql (sqlite, postgres, mysql, mariadb, mssql)</option>
								</select>
							</div>

							<div class="form-group">
								<label>Connection string:</label>
								<input class="form-control" v-model="config.connectionString" />
							</div>

							<div class="form-group">
								<button class="btn btn-primary" v-on:click="_securityControllerInstance.saveConfig()">Apply</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" v-if="settingsVisible">
			<div class="row">
				<div class="col-md-6">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Scopes</h6>
						</div>
						<div class="card-body">
							<p>
								The following scopes have been configured on the Identity Provider.
							</p>

							<div class="float-right">
								<router-link class="btn btn-sm btn-primary" :to="{ name : 'securityScopeEditor', params : { name : '.new' }}">
									Add Scope
								</router-link>
							</div>

							<p>
								<b>Scopes</b>
							</p>

							<div class="table-responsive">
								<table class="table table-bordered" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Name</th>
											<th>Options</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Name</th>
											<th>Options</th>
										</tr>
									</tfoot>
									<tbody>
										<tr v-if="scopes.length === 0">
											<td colspan="2">
												<div class="noResults">
													No scopes are currently configured.
												</div>
											</td>
										</tr>
										<tr v-for="scope in scopes">
											<td>{{scope.name}}</td>
											<td>
												<router-link class="btn btn-sm btn-success" :to="{ name : 'securityScopeEditor', params : { name : scope.name }}">
													Modify
												</router-link>
												<button class="btn btn-sm btn-danger" v-on:click="_securityControllerInstance.deleteScope(scope.name);">
													Remove
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Clients</h6>
						</div>
						<div class="card-body">
							<div class="float-right">
								<router-link class="btn btn-sm btn-primary" :to="{ name : 'securityClientEditor', params : { id : '.new' }}">
									Add Client
								</router-link>
							</div>

							<p>
								The following clients have been registered with the Identity Provider - this includes auto-generated clients for your applications.
							</p>

							<div class="table-responsive">
								<table class="table table-bordered" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Client Id</th>
											<th>Options</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Client Id</th>
											<th>Options</th>
										</tr>
									</tfoot>
									<tbody>
										<tr v-if="clients.length === 0">
											<td colspan="2">
												<div class="noResults">
													There are no clients configured.
												</div>
											</td>
										</tr>
										<tr v-for="client in clients">
											<td>
												{{client.client_id}}
											</td>
											<td>
												<router-link class="btn btn-sm btn-success" :to="{ name : 'securityClientEditor', params : { id : client.client_id }}">
													Modify
												</router-link>
												<button class="btn btn-sm btn-danger" v-on:click="_securityControllerInstance.deleteClient(client.client_id);">
													Remove
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Users</h6>
						</div>
						<div class="card-body">
							<div class="float-right">
								<router-link class="btn btn-sm btn-primary" :to="{ name : 'securityUserEditor', params : { name : '.new' }}">
									Add User
								</router-link>
							</div>

							<p>
								These are all the users currently registered within the Identity Provider.
							</p>

							<div class="table-responsive">
								<table class="table table-bordered" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Username</th>
											<th>Registered date</th>
											<th>Roles</th>
											<th>Options</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Username</th>
											<th>Registered date</th>
											<th>Roles</th>
											<th>Options</th>
										</tr>
									</tfoot>
									<tbody>
										<tr v-if="users.length === 0">
											<td colspan="4">
												<div class="noResults">
													No uses exist in the system, how are you seeing this?
												</div>
											</td>
										</tr>
										<tr v-for="user in users">
											<td>
												{{user.id}}
											</td>
											<td>
												{{user.data.registered}}
											</td>
											<td>
												<span v-for="role in (user.data.claims && user.data.claims.roles ? user.data.claims.roles : [])" class="btn btn-xs btn-primary ml-1">
													{{role}}
												</span>
											</td>
											<td>
												<router-link class="btn btn-sm btn-success" :to="{ name : 'securityUserEditor', params : { name : user.id } }">
													Modify
												</router-link>
												<button class="btn btn-sm btn-danger"  v-on:click="_securityControllerInstance.deleteUser(user.id);">
													Remove
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template id="template-securityClientEditor">
	<div class="securityClientEditor">
		<permissions :roles="['security_writer','security_admin','system_writer','system_admin']"></permissions>

		<div class="entityWrapper">
			<div id="clientEditor" class="editorWindow"></div>
		</div>
		<div class="actionButtons">
			<router-link to="/security" class="rounded-circle border-0 btn btn-default"><i class="fas fa-fw fa-times"></i></router-link>
			<button class="rounded-circle border-0 btn btn-primary" v-on:click="_securityClientEditorControllerInstance.save();"><i class="fas fa-fw fa-save"></i></button>
		</div>
		<modal-error v-bind:title="error.title" v-bind:visible="error.visible">
			{{error.description}}
		</modal-error>
		<alert text="Client saved!" v-bind:visible="showAlert"></alert>
	</div>
</template>

<template id="template-securityScopeEditor">
	<div class="securityClientEditor">
		<permissions :roles="['security_writer','security_admin','system_writer','system_admin']"></permissions>

		<div class="entityWrapper">
			<div id="scopeEditor" class="editorWindow"></div>
		</div>
		<div class="actionButtons">
			<router-link to="/security" class="rounded-circle border-0 btn btn-default"><i class="fas fa-fw fa-times"></i></router-link>
			<button class="rounded-circle border-0 btn btn-primary" v-on:click="_securityScopeEditorControllerInstance.save();"><i class="fas fa-fw fa-save"></i></button>
		</div>
		<modal-error v-bind:title="error.title" v-bind:visible="error.visible">
			{{error.description}}
		</modal-error>
		<alert text="Scope saved!" v-bind:visible="showAlert"></alert>
	</div>
</template>

<template id="template-securityUserEditor">
	<div class="securityClientEditor">
		<permissions :roles="['security_writer','security_admin','system_writer','system_admin']"></permissions>

		<div class="entityWrapper">
			<div id="userEditor" class="editorWindow"></div>
		</div>
		<div class="actionButtons">
			<router-link to="/security" class="rounded-circle border-0 btn btn-default"><i class="fas fa-fw fa-times"></i></router-link>
			<button class="rounded-circle border-0 btn btn-primary" v-on:click="_securityUserEditorControllerInstance.save();"><i class="fas fa-fw fa-save"></i></button>
		</div>
		<modal-error v-bind:title="error.title" v-bind:visible="error.visible">
			{{error.description}}
		</modal-error>
		<alert text="User saved!" v-bind:visible="showAlert"></alert>
	</div>
</template>