<template id="template-tagsetEditor">
	<div class="tagsetEditor">
		<permissions :roles="['website_reader','website_admin','system_reader','system_admin']"></permissions>

		<alert text="Tagset saved!" v-bind:visible="showSavedAlert"></alert>

		<navigation v-if="!viewEditorVisible && !controllerEditorVisible" title="Tagset Editor"></navigation>

		<div v-if="viewEditorVisible || controllerEditorVisible">
			<navigation title="Tagset Editor" :navitems="navitems"></navigation>

			<div class="editorWrapper viewEditorWrapper" v-if="viewEditorVisible">
				<div id="viewEditor" class="editorWindow"></div>
			</div>

			<div class="editorWrapper controllerEditorWrapper" v-if="controllerEditorVisible">
				<div id="controllerEditor" class="editorWindow"></div>
			</div>
		</div>

		<div class="container-fluid" v-if="!viewEditorVisible && !controllerEditorVisible">
			<p>
				A tagset has multiple groups, with the tags held within each group.
			</p>

			<div class="row">
				<div class="col-md-6">
					<div class="card shadow">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Tagset Settings</h6>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label>Name:</label>
								<input type="text" class="form-control" v-model="tagset.name" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card shadow mb-4" v-for="(group, gIndex) in tagset.groups">
				<div class="card-header py-3">
					<div class="float-right">
						<button class="btn btn-sm btn-primary" v-on:click="_tagsetEditorInstance.addTag(gIndex);">Add Tag</button>
						<button class="btn btn-sm btn-danger" v-on:click="_tagsetEditorInstance.deleteGroup(gIndex);">Remove</button>
					</div>

					<h6 class="m-0 font-weight-bold text-primary">
						Group: <input type="text" v-model="group.name "/>
					</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Tag</th>
									<th width="25%">Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>Tag</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-if="group.tags.length === 0">
									<td colspan="2" class="no-results">
										No tags exist
									</td>
								</tr>
								<tr v-for="(item, tIndex) in group.tags">
									<td>
										<input type="text" v-model="item.name" />
									</td>
									<td>
										<input type="text" v-model="item.tag" />
									</td>
									<td>
										<button class="btn btn-sm btn-primary" v-on:click="_tagsetEditorInstance.modifyTag(gIndex, tIndex);">Modify</button>
										<button class="btn btn-sm btn-danger" v-on:click="_tagsetEditorInstance.deleteTag(gIndex, tIndex);">Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="actionButtons">
			<button
				v-if="viewEditorVisible || controllerEditorVisible"
				v-on:click="_tagsetEditorInstance.closeEditor();"
				class="rounded-circle border-0 btn btn-primary"
			><i class="fas fa-fw fa-arrow-left"></i></button>
			<button
				v-if="!viewEditorVisible && !controllerEditorVisible"
				v-on:click="_tagsetEditorInstance.addGroup();"
				class="rounded-circle border-0 btn btn-primary"
			><i class="fas fa-fw fa-plus"></i></button>
		</div>
	</div>
</template>