<template id="template-websites">
	<div class="websites">
		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Websites</h1>
			<p class="mb-4">Websites allow you to provide interactive interfaces to your users. To create a new website press the plus button in the bottom right.</p>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Current Websites</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-for="item in websites">
									<td>
										<router-link :to="{ name : 'websiteDetails', params : { name : item.name } }">{{item.name}}</router-link>
									</td>
									<td>
										<a class="btn btn-sm btn-success" :href="item.url" target="_blank">
											View
										</a>
										<router-link class="btn btn-sm btn-primary" :to="{ name : 'websiteEditor', params : { name : item.name } }">Modify</router-link>
										<button class="btn btn-sm btn-danger" v-on:click="_websitesControllerInstance.deleteWebsite(item.name);">Remove</router-link>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="actionButtons">
			<router-link to="/websites/editor/.new" class="rounded-circle border-0 btn btn-primary"><i class="fas fa-fw fa-plus"></i></router-link>
		</div>
	</div>
</template>

<template id="template-websiteEditor">
	<div class="websiteEditor">
		<alert text="Website saved!" v-bind:visible="showAlert"></alert>
		<div class="container-fluid" v-if="viewEditorVisible">
			<div class="editorWrapper">
				<div id="viewEditor" class="editorWindow"></div>
			</div>
		</div>

		<div class="container-fluid" v-if="controllerEditorVisible">
			<div class="editorWrapper">
				<div id="controllerEditor" class="editorWindow"></div>
			</div>
		</div>

		<!-- Begin Page Content -->
		<div class="container-fluid" v-if="mainVisible">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Manage Website</h1>

			<div class="row">
				<div class="col-md-6">
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Properties</h6>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label>Name:</label>
								<input type="text" class="form-control" name="name" v-model="website.name" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Security</h6>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label>Client:</label>
								<select name="client_id" v-model="website.client_id" class="form-control">
									<option value="">None</option>
									<option v-for="client in clients" v-bind:value="client.client_id">{{client.client_id}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Routes</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th width="25%">Route</th>
									<th>Is Secure?</th>
									<th width="25%">Role</th>
									<th>View</th>
									<th>Controller</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Route</th>
									<th>Is Secure?</th>
									<th>Role</th>
									<th>View</th>
									<th>Controller</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-for="(route, index) in routes" :key="index">
									<td>
										<input class="form-control" type="text" name="route" v-model="route.route" />
									</td>
									<td>
										<input class="form-control form-control-checkbox" type="checkbox" name="isSecure" v-model="route.secure" />
									</td>
									<td>
										<input v-if="route.secure" class="form-control" type="text" name="security" v-model="route.roles" />
									</td>
									<td>
										<button class="btn btn-sm btn-primary" v-on:click="_websitesEditorControllerInstance.editView(route.view);">
											Modify
										</button>
									</td>
									<td>
										<button class="btn btn-sm btn-primary" v-on:click="_websitesEditorControllerInstance.editController(route.controller);">
											Modify
										</button>
									</td>
									<td>
										<button class="btn btn-sm btn-danger" v-on:click="_websitesEditorControllerInstance.removeRoute(index);">Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- Tags Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Custom Tags</h6>
				</div>
				<div class="card-body">
					<p>
						Tags allow you to define reusable includes/partials.
					</p>
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Tag</th>
									<th>View</th>
									<th>Controller</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Tag</th>
									<th>View</th>
									<th>Controller</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-for="(tag, index) in tags" :key="index">
									<td>
										<input class="form-control" type="text" name="route" v-model="tag.name" />
									</td>
									<td>
										<button class="btn btn-sm btn-primary" v-on:click="_websitesEditorControllerInstance.editView(tag.view);">
											Modify
										</button>
									</td>
									<td>
										<button class="btn btn-sm btn-primary" v-on:click="_websitesEditorControllerInstance.editController(tag.controller);">
											Modify
										</button>
									</td>
									<td>
										<button class="btn btn-sm btn-danger" v-on:click="_websitesEditorControllerInstance.removeTag(index);">Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- static resources -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Static files</h6>
				</div>
				<div class="card-body">
					<p>
						Static files can be referenced within your interfaces & custom tags and can be any type of file.
					</p>
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Filename</th>
									<th>Path</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Filename</th>
									<th>Path</th>
									<th>Operations</th>
								</tr>
							</tfoot>
							<tbody>
								<tr v-for="(resource, index) in staticfiles" :key="index">
									<td>
										{{resource.basename}}
									</td>
									<td>
										<a :href="'http://localhost:8005' + resource.absolutePath" target="_blank">{{resource.absolutePath}}</a>
									</td>
									<td>
										<button class="btn btn-sm btn-danger" v-on:click="_websitesEditorControllerInstance.removeResource(resource.basename);">Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="actionButtons">
			<button v-if="viewEditorVisible" class="rounded-circle border-0 btn btn-primary" v-on:click="_websitesEditorControllerInstance.mainView();"><i class="fas fa-fw fa-arrow-left"></i></button>
			<button v-if="controllerEditorVisible" class="rounded-circle border-0 btn btn-primary" v-on:click="_websitesEditorControllerInstance.mainView();"><i class="fas fa-fw fa-arrow-left"></i></button>
			<button v-if="mainVisible" class="rounded-pill border-0 btn btn-primary" v-on:click="_websitesEditorControllerInstance.newStaticFile();"><i class="fas fa-fw fa-plus"></i> Static File</button>
			<button v-if="mainVisible" class="rounded-pill border-0 btn btn-primary" v-on:click="_websitesEditorControllerInstance.newRoute();"><i class="fas fa-fw fa-plus"></i> Route</button>
			<button v-if="mainVisible" class="rounded-pill border-0 btn btn-primary" v-on:click="_websitesEditorControllerInstance.newTag();"><i class="fas fa-fw fa-plus"></i> Tag</button>
			<button class="rounded-circle border-0 btn btn-success" v-on:click="_websitesEditorControllerInstance.saveAll();"><i class="fas fa-fw fa-save"></i></button>
		</div>

		<div v-if="newResourceVisible">
			<div class="modal">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Upload Static File</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close" v-on:click="newResourceVisible=false">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<slot>
								<input type="file" id="file" class="form-control" />
							</slot>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" type="button" data-dismiss="modal" v-on:click="newResourceVisible=false">Cancel</button>
							<button class="btn btn-primary" type="button" data-dismiss="modal" v-on:click="_websitesEditorControllerInstance.uploadResource();">Upload</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>