$background-highlight: #F7FAFC;
$header-color: #242424;
$text-color: #4F4F4F;
$text-highlight: #4C94FF;
$text-highlight-inverse: #FFF;

$negative-background-color: #FF434B;
$negative-text-color: #FFF;

$warning-background-color: #FFA500;
$warning-text-color: #FFF;

$success-background-color: #4C94FF;
$success-text-color: #FFF;

$info-background-color: #4C94FF;
$info-text-color: #FFF;

$block-spacing: 16px;
$border-radius: 4px;